<h4>Welcome, <%=current_user.username%></h4>
<br>
<br>
<h2> Here are your notes:</h2>
<br>

<table>
<% @notes.each do |note| %>
<tr>
	<td><h3><a href="/notes/<%=note.id%>"><%= note.title %></a></h3></td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><a href="/notes/<%=note.id%>/edit">Edit Note</a></td>
</tr>
<%end%>
</table>