<h1>Create a new tweet</h1>

<form action="/notes" method="POST">
<label for="title">Note title:</label>
	<input type="text" name="title" id="title">
<label for="content">Note content:</label>
	<input type="text" name="content" id="content">
<input type="submit" name="submit" value="Create note">
</form>