<h1>Create a new tweet</h1>

<form action="/notes" method="POST">
<label for="content">Write your note:</label>
<input type="text" name="content" id="content">
<input type="submit" name="submit" value="Create note">
</form>