<h2>Your Note</h2>


<h4>Title: <%= @note.title %></h4>
<br>
<p>Content: <%= @note.content %></p>



<a href="/notes/<%=@note.id%>/edit">Edit Note</a>
<br>
<br>
<form action="/notes/<%=@note.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Note">
</form>
