<h1>Welcome to File Cabinet!</h1>
<h2>Log In Please</h2>
<form action="/login" method="post">
<label for="username">Username: </label>
<input type="text" name="username" id="username">
<label for="password">Password: </label>
<input type="text" name="password" id="password">
<input type="submit" name="submit" value="Login">
</form>