<h1>Welcome to File Cabinet!</h1>
<h3>Log In Please</h3>
<form action="/login" method="post">
Username: <input type="text" name="username">
Password: <input type="text" name="password">
<input type="submit" name="submit" value="submit">
</form>