<h2>Sign Up Below:</h2>

<form action="/signup" method="post">
<ul>

<li><label for="username">Username:</label>
<input type="text" name="username" id="username"><br><br></li>
<li><label for="email">Email:</label>
<input type="email" name="email" id="email"><br><br></li>
<li><label for="password">Password:</label>
<input type="password" name="password" id="password"></li><br>
<input type="submit" name="submit" value="Sign Up">
</ul>
</form>